POSTGRES_CONNECTION_STRING=
TEST_POSTGRES_CONNECTION_STRING=
PORT=
CORS_ORIGIN=
DATA_APT_KR_API_KEY=
DATA_APT_KR_API_KEY2=
DATA_STORE_API_KEY=
DATA_GEOCODING_CLIENT_ID=
DATA_GEOCODING_CLIENT_SECRET=
DATA_SCHOOL_API_KEY=
REMODELING_STALE_AFTER_DAYS=30
